Build started...
Build succeeded.
The Entity Framework tools version '10.0.3' is older than that of the runtime '10.0.8'. Update the tools for the latest features and bug fixes. See https://aka.ms/AAc1fbw for more information.
warn: Microsoft.EntityFrameworkCore.Model.Validation[10620]
      The property 'UserPreferences.FocusCompanies' is a collection or enumeration type with a value converter but with no value comparer. Set a value comparer to ensure the collection/enumeration elements are compared correctly.
warn: Microsoft.EntityFrameworkCore.Model.Validation[10620]
      The property 'UserPreferences.Keywords' is a collection or enumeration type with a value converter but with no value comparer. Set a value comparer to ensure the collection/enumeration elements are compared correctly.
CREATE TABLE IF NOT EXISTS "__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL,
    CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId")
);

START TRANSACTION;
CREATE TABLE "ChatHistory" (
    "Id" integer GENERATED BY DEFAULT AS IDENTITY,
    "UserId" uuid NOT NULL,
    "SessionId" character varying(100) NOT NULL,
    "Role" character varying(50) NOT NULL,
    "Content" text NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    CONSTRAINT "PK_ChatHistory" PRIMARY KEY ("Id")
);

CREATE TABLE "EmailAnalysis" (
    "Id" integer GENERATED BY DEFAULT AS IDENTITY,
    "UserId" uuid NOT NULL,
    "GmailId" character varying(100) NOT NULL,
    "From" character varying(255) NOT NULL,
    "Subject" character varying(500) NOT NULL,
    "Summary" text NOT NULL,
    "DraftReply" text NOT NULL,
    "Importance" character varying(50) NOT NULL,
    "ProcessedAt" timestamp with time zone NOT NULL,
    CONSTRAINT "PK_EmailAnalysis" PRIMARY KEY ("Id")
);

CREATE TABLE "UserPreferences" (
    "Id" uuid NOT NULL,
    "UserEmail" text NOT NULL,
    "Name" text NOT NULL,
    "AiProvider" text NOT NULL,
    "ApiKey" text NOT NULL,
    "FocusCompanies" jsonb NOT NULL,
    "Keywords" jsonb NOT NULL,
    "PairingCode" text NOT NULL,
    "GoogleAccessToken" text NOT NULL,
    "GoogleRefreshToken" text NOT NULL,
    "GoogleTokenExpiry" timestamp with time zone,
    "TelegramChatId" text NOT NULL,
    "WhatsAppSid" text NOT NULL,
    "WhatsAppToken" text NOT NULL,
    "WhatsAppFrom" text NOT NULL,
    "WhatsAppTo" text NOT NULL,
    CONSTRAINT "PK_UserPreferences" PRIMARY KEY ("Id")
);

CREATE INDEX "IX_ChatHistory_SessionId" ON "ChatHistory" ("SessionId");

CREATE INDEX "IX_ChatHistory_UserId" ON "ChatHistory" ("UserId");

CREATE UNIQUE INDEX "IX_EmailAnalysis_GmailId" ON "EmailAnalysis" ("GmailId");

CREATE INDEX "IX_EmailAnalysis_UserId" ON "EmailAnalysis" ("UserId");

CREATE INDEX "IX_UserPreferences_TelegramChatId" ON "UserPreferences" ("TelegramChatId");

CREATE UNIQUE INDEX "IX_UserPreferences_UserEmail" ON "UserPreferences" ("UserEmail");

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20260601143524_MultiTenantAuth', '10.0.8');

COMMIT;

START TRANSACTION;
CREATE TABLE "TrackedProducts" (
    "Id" uuid NOT NULL,
    "UserId" uuid NOT NULL,
    "Url" text NOT NULL,
    "Title" text NOT NULL,
    "TargetPrice" numeric NOT NULL,
    "LastKnownPrice" numeric NOT NULL,
    "Currency" text NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "LastCheckedAt" timestamp with time zone NOT NULL,
    "IsActive" boolean NOT NULL,
    CONSTRAINT "PK_TrackedProducts" PRIMARY KEY ("Id")
);

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20260602085917_AddTrackedProducts', '10.0.8');

COMMIT;

START TRANSACTION;
ALTER TABLE "UserPreferences" ADD "AssistantPersona" text NOT NULL DEFAULT '';

ALTER TABLE "UserPreferences" ADD "EnableDocumentAnalysisFeature" boolean NOT NULL DEFAULT FALSE;

ALTER TABLE "UserPreferences" ADD "EnableEmailFeature" boolean NOT NULL DEFAULT FALSE;

ALTER TABLE "UserPreferences" ADD "EnableFinanceFeature" boolean NOT NULL DEFAULT FALSE;

ALTER TABLE "UserPreferences" ADD "EnableRemindersFeature" boolean NOT NULL DEFAULT FALSE;

ALTER TABLE "UserPreferences" ADD "EnableShoppingFeature" boolean NOT NULL DEFAULT FALSE;

ALTER TABLE "UserPreferences" ADD "EnableWebSearchFeature" boolean NOT NULL DEFAULT FALSE;

ALTER TABLE "UserPreferences" ADD "ShoppingTrackerIntervalHours" integer NOT NULL DEFAULT 0;

ALTER TABLE "UserPreferences" ADD "TelegramBotToken" text NOT NULL DEFAULT '';

ALTER TABLE "TrackedProducts" ADD "IsInStock" boolean NOT NULL DEFAULT FALSE;

CREATE TABLE "NotificationLogs" (
    "Id" uuid NOT NULL,
    "UserId" uuid NOT NULL,
    "Message" text NOT NULL,
    "Type" text NOT NULL,
    "SentAt" timestamp with time zone NOT NULL,
    CONSTRAINT "PK_NotificationLogs" PRIMARY KEY ("Id")
);

CREATE TABLE "PriceHistories" (
    "Id" uuid NOT NULL,
    "ProductId" uuid NOT NULL,
    "Price" numeric NOT NULL,
    "IsInStock" boolean NOT NULL,
    "CheckedAt" timestamp with time zone NOT NULL,
    CONSTRAINT "PK_PriceHistories" PRIMARY KEY ("Id")
);

CREATE TABLE "Reminders" (
    "Id" uuid NOT NULL,
    "UserId" uuid NOT NULL,
    "Message" text NOT NULL,
    "RemindAt" timestamp with time zone NOT NULL,
    "IsSent" boolean NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    CONSTRAINT "PK_Reminders" PRIMARY KEY ("Id")
);

CREATE TABLE "TrackedCategories" (
    "Id" uuid NOT NULL,
    "UserId" uuid NOT NULL,
    "CategoryUrl" text NOT NULL,
    "CategoryName" text NOT NULL,
    "MinDiscountPercentage" numeric NOT NULL,
    "RequiredFeatures" text,
    "ComparisonGroupId" uuid,
    "CreatedAt" timestamp with time zone NOT NULL,
    "LastCheckedAt" timestamp with time zone,
    CONSTRAINT "PK_TrackedCategories" PRIMARY KEY ("Id")
);

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20260604162221_InitialCreate', '10.0.8');

COMMIT;


